<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select College</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div id="selection-container">
      <h3>Select a College</h3>
      <div id="college-options">
        <a href="/chatbot?college=jntuh" class="college-button">JNTUH</a>
        <a href="/chatbot?college=anurag" class="college-button"
          >Anurag University</a
        >
        <a href="/chatbot?college=malla reddy" class="college-button"
          >Malla Reddy University</a
        >
        <a href="/chatbot?college=sreenidhi" class="college-button"
          >sreenidhi</a
        >
      </div>
    </div>
  </body>
</html>
